<div class="container-fluid">
  <div class="row">
    <div class="col col-5">
      <app-artist-list [artists]="artists" (selectArtist)="selectArtist($event)" [addable]="true" [selectedArtist]="selectedArtist"></app-artist-list>
    </div>
    <div class="col col-6 offset-1">
      <app-artist-detail
        *ngIf="selectArtist"
        [artist]="selectedArtist"
        (edit)="saveArtist($event)"
        (delete)="deleteArtist($event)"
        (deleteAlbum)="deleteAlbum(selectedArtist, $event)"
        (addAlbum)="addAlbum(selectedArtist, $event)"
        (saveAlbum)="saveAlbum(selectedArtist, $event)"
      ></app-artist-detail>
    </div>
  </div>
</div>
